@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700");
@font-face {
	font-family: 'simple-Line-Icons';
	src: url("../fonts/simple-Line-Icons.eot");
	src: url("../fonts/simple-Line-Icons.eot") format("embedded-opentype"), url("../fonts/simple-Line-Icons.woff") format("woff"), url("../fonts/simple-Line-Icons.ttf") format("truetype"), url("../fonts/simple-Line-Icons.svg#Simple-Line-Icons") format("svg");
	font-weight: normal;
	font-style: normal
}

[data-icon]:before {
	font-family: 'simple-Line-Icons';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 17px
}

.icon-user-female,
.icon-user-follow,
.icon-user-following,
.icon-user-unfollow,
.icon-trophy,
.icon-screen-smartphone,
.icon-screen-desktop,
.icon-plane,
.icon-notebook,
.icon-moustache,
.icon-mouse,
.icon-magnet,
.icon-energy,
.icon-emoticon-smile,
.icon-disc,
.icon-cursor-move,
.icon-crop,
.icon-credit-card,
.icon-chemistry,
.icon-user,
.icon-speedometer,
.icon-social-youtube,
.icon-social-twitter,
.icon-social-tumblr,
.icon-social-facebook,
.icon-social-dropbox,
.icon-social-dribbble,
.icon-shield,
.icon-screen-tablet,
.icon-magic-wand,
.icon-hourglass,
.icon-graduation,
.icon-ghost,
.icon-game-controller,
.icon-fire,
.icon-eyeglasses,
.icon-envelope-open,
.icon-envelope-letter,
.icon-bell,
.icon-badge,
.icon-anchor,
.icon-wallet,
.icon-vector,
.icon-speech,
.icon-puzzle,
.icon-printer,
.icon-present,
.icon-playlist,
.icon-pin,
.icon-picture,
.icon-map,
.icon-layers,
.icon-handbag,
.icon-globe-alt,
.icon-globe,
.icon-frame,
.icon-folder-alt,
.icon-film,
.icon-feed,
.icon-earphones-alt,
.icon-earphones,
.icon-drop,
.icon-drawer,
.icon-docs,
.icon-directions,
.icon-direction,
.icon-diamond,
.icon-cup,
.icon-compass,
.icon-call-out,
.icon-call-in,
.icon-call-end,
.icon-calculator,
.icon-bubbles,
.icon-briefcase,
.icon-book-open,
.icon-basket-loaded,
.icon-basket,
.icon-bag,
.icon-action-undo,
.icon-action-redo,
.icon-wrench,
.icon-umbrella,
.icon-trash,
.icon-tag,
.icon-support,
.icon-size-fullscreen,
.icon-size-actual,
.icon-shuffle,
.icon-share-alt,
.icon-share,
.icon-rocket,
.icon-question,
.icon-pie-chart,
.icon-pencil,
.icon-note,
.icon-music-tone-alt,
.icon-music-tone,
.icon-microphone,
.icon-loop,
.icon-logout,
.icon-login,
.icon-list,
.icon-like,
.icon-home,
.icon-grid,
.icon-graph,
.icon-equalizer,
.icon-dislike,
.icon-cursor,
.icon-control-start,
.icon-control-rewind,
.icon-control-play,
.icon-control-pause,
.icon-control-forward,
.icon-control-end,
.icon-calendar,
.icon-bulb,
.icon-bar-chart,
.icon-arrow-up,
.icon-arrow-right,
.icon-arrow-left,
.icon-arrow-down,
.icon-ban,
.icon-bubble,
.icon-camcorder,
.icon-camera,
.icon-check,
.icon-clock,
.icon-close,
.icon-cloud-download,
.icon-cloud-upload,
.icon-doc,
.icon-envelope,
.icon-eye,
.icon-flag,
.icon-folder,
.icon-heart,
.icon-info,
.icon-key,
.icon-link,
.icon-lock,
.icon-lock-open,
.icon-magnifier,
.icon-magnifier-add,
.icon-magnifier-remove,
.icon-paper-clip,
.icon-paper-plane,
.icon-plus,
.icon-pointer,
.icon-power,
.icon-refresh,
.icon-reload,
.icon-settings,
.icon-star,
.icon-symbol-female,
.icon-symbol-male,
.icon-target,
.icon-volume-1,
.icon-volume-2,
.icon-volume-off,
.icon-users {
	font-family: 'Simple-Line-Icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased
}

.icon-user-female:before {
	content: "\e000"
}

.icon-user-follow:before {
	content: "\e002"
}

.icon-user-following:before {
	content: "\e003"
}

.icon-user-unfollow:before {
	content: "\e004"
}

.icon-trophy:before {
	content: "\e006"
}

.icon-screen-smartphone:before {
	content: "\e010"
}

.icon-screen-desktop:before {
	content: "\e011"
}

.icon-plane:before {
	content: "\e012"
}

.icon-notebook:before {
	content: "\e013"
}

.icon-moustache:before {
	content: "\e014"
}

.icon-mouse:before {
	content: "\e015"
}

.icon-magnet:before {
	content: "\e016"
}

.icon-energy:before {
	content: "\e020"
}

.icon-emoticon-smile:before {
	content: "\e021"
}

.icon-disc:before {
	content: "\e022"
}

.icon-cursor-move:before {
	content: "\e023"
}

.icon-crop:before {
	content: "\e024"
}

.icon-credit-card:before {
	content: "\e025"
}

.icon-chemistry:before {
	content: "\e026"
}

.icon-user:before {
	content: "\e005"
}

.icon-speedometer:before {
	content: "\e007"
}

.icon-social-youtube:before {
	content: "\e008"
}

.icon-social-twitter:before {
	content: "\e009"
}

.icon-social-tumblr:before {
	content: "\e00a"
}

.icon-social-facebook:before {
	content: "\e00b"
}

.icon-social-dropbox:before {
	content: "\e00c"
}

.icon-social-dribbble:before {
	content: "\e00d"
}

.icon-shield:before {
	content: "\e00e"
}

.icon-screen-tablet:before {
	content: "\e00f"
}

.icon-magic-wand:before {
	content: "\e017"
}

.icon-hourglass:before {
	content: "\e018"
}

.icon-graduation:before {
	content: "\e019"
}

.icon-ghost:before {
	content: "\e01a"
}

.icon-game-controller:before {
	content: "\e01b"
}

.icon-fire:before {
	content: "\e01c"
}

.icon-eyeglasses:before {
	content: "\e01d"
}

.icon-envelope-open:before {
	content: "\e01e"
}

.icon-envelope-letter:before {
	content: "\e01f"
}

.icon-bell:before {
	content: "\e027"
}

.icon-badge:before {
	content: "\e028"
}

.icon-anchor:before {
	content: "\e029"
}

.icon-wallet:before {
	content: "\e02a"
}

.icon-vector:before {
	content: "\e02b"
}

.icon-speech:before {
	content: "\e02c"
}

.icon-puzzle:before {
	content: "\e02d"
}

.icon-printer:before {
	content: "\e02e"
}

.icon-present:before {
	content: "\e02f"
}

.icon-playlist:before {
	content: "\e030"
}

.icon-pin:before {
	content: "\e031"
}

.icon-picture:before {
	content: "\e032"
}

.icon-map:before {
	content: "\e033"
}

.icon-layers:before {
	content: "\e034"
}

.icon-handbag:before {
	content: "\e035"
}

.icon-globe-alt:before {
	content: "\e036"
}

.icon-globe:before {
	content: "\e037"
}

.icon-frame:before {
	content: "\e038"
}

.icon-folder-alt:before {
	content: "\e039"
}

.icon-film:before {
	content: "\e03a"
}

.icon-feed:before {
	content: "\e03b"
}

.icon-earphones-alt:before {
	content: "\e03c"
}

.icon-earphones:before {
	content: "\e03d"
}

.icon-drop:before {
	content: "\e03e"
}

.icon-drawer:before {
	content: "\e03f"
}

.icon-docs:before {
	content: "\e040"
}

.icon-directions:before {
	content: "\e041"
}

.icon-direction:before {
	content: "\e042"
}

.icon-diamond:before {
	content: "\e043"
}

.icon-cup:before {
	content: "\e044"
}

.icon-compass:before {
	content: "\e045"
}

.icon-call-out:before {
	content: "\e046"
}

.icon-call-in:before {
	content: "\e047"
}

.icon-call-end:before {
	content: "\e048"
}

.icon-calculator:before {
	content: "\e049"
}

.icon-bubbles:before {
	content: "\e04a"
}

.icon-briefcase:before {
	content: "\e04b"
}

.icon-book-open:before {
	content: "\e04c"
}

.icon-basket-loaded:before {
	content: "\e04d"
}

.icon-basket:before {
	content: "\e04e"
}

.icon-bag:before {
	content: "\e04f"
}

.icon-action-undo:before {
	content: "\e050"
}

.icon-action-redo:before {
	content: "\e051"
}

.icon-wrench:before {
	content: "\e052"
}

.icon-umbrella:before {
	content: "\e053"
}

.icon-trash:before {
	content: "\e054"
}

.icon-tag:before {
	content: "\e055"
}

.icon-support:before {
	content: "\e056"
}

.icon-size-fullscreen:before {
	content: "\e057"
}

.icon-size-actual:before {
	content: "\e058"
}

.icon-shuffle:before {
	content: "\e059"
}

.icon-share-alt:before {
	content: "\e05a"
}

.icon-share:before {
	content: "\e05b"
}

.icon-rocket:before {
	content: "\e05c"
}

.icon-question:before {
	content: "\e05d"
}

.icon-pie-chart:before {
	content: "\e05e"
}

.icon-pencil:before {
	content: "\e05f"
}

.icon-note:before {
	content: "\e060"
}

.icon-music-tone-alt:before {
	content: "\e061"
}

.icon-music-tone:before {
	content: "\e062"
}

.icon-microphone:before {
	content: "\e063"
}

.icon-loop:before {
	content: "\e064"
}

.icon-logout:before {
	content: "\e065"
}

.icon-login:before {
	content: "\e066"
}

.icon-list:before {
	content: "\e067"
}

.icon-like:before {
	content: "\e068"
}

.icon-home:before {
	content: "\e069"
}

.icon-grid:before {
	content: "\e06a"
}

.icon-graph:before {
	content: "\e06b"
}

.icon-equalizer:before {
	content: "\e06c"
}

.icon-dislike:before {
	content: "\e06d"
}

.icon-cursor:before {
	content: "\e06e"
}

.icon-control-start:before {
	content: "\e06f"
}

.icon-control-rewind:before {
	content: "\e070"
}

.icon-control-play:before {
	content: "\e071"
}

.icon-control-pause:before {
	content: "\e072"
}

.icon-control-forward:before {
	content: "\e073"
}

.icon-control-end:before {
	content: "\e074"
}

.icon-calendar:before {
	content: "\e075"
}

.icon-bulb:before {
	content: "\e076"
}

.icon-bar-chart:before {
	content: "\e077"
}

.icon-arrow-up:before {
	content: "\e078"
}

.icon-arrow-right:before {
	content: "\e079"
}

.icon-arrow-left:before {
	content: "\e07a"
}

.icon-arrow-down:before {
	content: "\e07b"
}

.icon-ban:before {
	content: "\e07c"
}

.icon-bubble:before {
	content: "\e07d"
}

.icon-camcorder:before {
	content: "\e07e"
}

.icon-camera:before {
	content: "\e07f"
}

.icon-check:before {
	content: "\e080"
}

.icon-clock:before {
	content: "\e081"
}

.icon-close:before {
	content: "\e082"
}

.icon-cloud-download:before {
	content: "\e083"
}

.icon-cloud-upload:before {
	content: "\e084"
}

.icon-doc:before {
	content: "\e085"
}

.icon-envelope:before {
	content: "\e086"
}

.icon-eye:before {
	content: "\e087"
}

.icon-flag:before {
	content: "\e088"
}

.icon-folder:before {
	content: "\e089"
}

.icon-heart:before {
	content: "\e08a"
}

.icon-info:before {
	content: "\e08b"
}

.icon-key:before {
	content: "\e08c"
}

.icon-link:before {
	content: "\e08d"
}

.icon-lock:before {
	content: "\e08e"
}

.icon-lock-open:before {
	content: "\e08f"
}

.icon-magnifier:before {
	content: "\e090"
}

.icon-magnifier-add:before {
	content: "\e091"
}

.icon-magnifier-remove:before {
	content: "\e092"
}

.icon-paper-clip:before {
	content: "\e093"
}

.icon-paper-plane:before {
	content: "\e094"
}

.icon-plus:before {
	content: "\e095"
}

.icon-pointer:before {
	content: "\e096"
}

.icon-power:before {
	content: "\e097"
}

.icon-refresh:before {
	content: "\e098"
}

.icon-reload:before {
	content: "\e099"
}

.icon-settings:before {
	content: "\e09a"
}

.icon-star:before {
	content: "\e09b"
}

.icon-symbol-female:before {
	content: "\e09c"
}

.icon-symbol-male:before {
	content: "\e09d"
}

.icon-target:before {
	content: "\e09e"
}

.icon-volume-1:before {
	content: "\e09f"
}

.icon-volume-2:before {
	content: "\e0a0"
}

.icon-volume-off:before {
	content: "\e0a1"
}

.icon-users:before {
	content: "\e001"
}

@font-face {
	font-family: 'weathericons';
	src: url("../fonts/weathericons-regular-webfont.eot");
	src: url("../fonts/weathericons-regular-webfontd41d.eot?#iefix") format("embedded-opentype"), url("../fonts/weathericons-regular-webfont.woff") format("woff"), url("../fonts/weathericons-regular-webfont.ttf") format("truetype"), url("../fonts/weathericons-regular-webfont.svg#weathericons-regular-webfontRg") format("svg");
	font-weight: normal;
	font-style: normal
}

body {
	background-color: #f4f7f6;
	font-family: "Ubuntu", sans-serif;
	font-size: 14px;
	color: #5A5A5A
}

body:before,
body:after {
	height: 5px;
	width: 100%;
	position: fixed;
	content: '';
	z-index: 999
}

body:before {
	top: 0
}

body:after {
	bottom: 0
}

@media screen and (max-width: 992px) {
	body:before,
	body:after {
		height: 2px
	}
}

a:hover,
a:focus {
	color: #437ac7;
	text-decoration: none
}

.inlineblock,
.user-account .dropdown,
.navbar-fixed-top .navbar-right .navbar-nav,
.navbar-fixed-top .navbar-right .navbar-nav>li,
.chat-widget li.right .chat-info,
.chat-widget li .chat-info,
.info-box-2 .icon {
	display: inline-block
}

.displayblock,
.navbar-nav ul.notifications li>a,
.navbar-nav ul.notifications li .text,
.navbar-nav ul.user-menu>li>a,
.sidebar-nav .metismenu a,
ul.choose-skin li,
.auth-box .helper-text,
.w_social2 .pw_img:before,
.w_social2 .pw_content .pw_meta small,
.w_social2 .pw_content .pw_meta span,
.metric-inline i,
.metric-inline span {
	display: block
}

.displaynone {
	display: none
}

.overflowhidden,
.member-card {
	overflow: hidden
}

.z-index {
	z-index: 9999
}

.br8,
.navbar-nav
.dropdown-menu {
	border-radius: 8px
}

.p-10 {
	padding: 10px !important
}

.width35 {
	width: 35px;
	height: auto
}

.width40 {
	width: 40px;
	height: auto
}

.width45 {
	width: 44px;
	height: auto
}

.page-title {
	margin-top: 0;
	margin-bottom: 30px;
	font-size: 24px;
	font-weight: 400
}

footer {
	padding: 0 30px;
	padding-bottom: 15px;
	position: absolute;
	right: 0
}

@media screen and (max-width: 768px) {
	footer {
		position: relative;
		text-align: center
	}
}

.copyright {
	margin-bottom: 0;
	font-size: 13px
}

.btn-default {
	color: #777;
	background-color: #fff;
	border-color: #eee;
	padding: 6px 18px
}

.btn-default.btn-sm {
	padding: 4px 12px
}

.sidebar {
	overflow-y: scroll;
	scrollbar-width: none;
	-ms-overflow-style: none
}

.sidebar::-webkit-scrollbar {
	width: 0px
}

@media only screen and (max-width: 767px) {
	.hidden-xs {
		display: none !important
	}
}

@media only screen and (max-width: 992px) {
	.hidden-sm {
		display: none !important
	}
}

@media only screen and (max-width: 1024px) {
	.hidden-md {
		display: none !important
	}
}

*[dir="rtl"] .metismenu .arrow {
	float: left
}

*[dir="rtl"] .metismenu .plus-times {
	float: left
}

*[dir="rtl"] .metismenu .plus-minus {
	float: left
}

.metismenu .arrow {
	float: right;
	line-height: 1.42857
}

.metismenu .glyphicon.arrow:before {
	content: "\e079"
}

.metismenu .active>a>.glyphicon.arrow:before {
	content: "\e114"
}

.metismenu .fa.arrow:before {
	content: "\f104"
}

.metismenu .active>a>.fa.arrow:before {
	content: "\f107"
}

.metismenu .ion.arrow:before {
	content: "\f3d2"
}

.metismenu .active>a>.ion.arrow:before {
	content: "\f3d0"
}

.metismenu .plus-times {
	float: right
}

.metismenu .fa.plus-times:before {
	content: "\f067"
}

.metismenu .active>a>.fa.plus-times {
	transform: rotate(45deg)
}

.metismenu .plus-minus {
	float: right
}

.metismenu .fa.plus-minus:before {
	content: "\f067"
}

.metismenu .active>a>.fa.plus-minus:before {
	content: "\f068"
}

.metismenu .collapse {
	display: none
}

.metismenu .collapse.in {
	display: block
}

.metismenu .collapsing {
	position: relative;
	height: 0;
	overflow: hidden;
	transition-timing-function: ease;
	transition-duration: .35s;
	transition-property: height, visibility
}

.metismenu .has-arrow {
	position: relative
}

.metismenu .has-arrow:after {
	position: absolute;
	content: '';
	width: .5em;
	height: .5em;
	border-width: 1px 0 0 1px;
	border-style: solid;
	border-color: initial;
	right: 1em;
	transform: rotate(-45deg) translate(0, -50%);
	transform-origin: top;
	top: 50%;
	transition: all .3s ease-out
}

*[dir="rtl"] .metismenu .has-arrow::after {
	right: auto;
	left: 1em;
	transform: rotate(135deg) translate(0, -50%)
}

.metismenu .active>.has-arrow::after,
.metismenu .has-arrow[aria-expanded="true"]::after {
	transform: rotate(-135deg) translate(0, -50%)
}

*[dir="rtl"] .metismenu .active>.has-arrow::after,
*[dir="rtl"] .metismenu .has-arrow[aria-expanded="true"]::after {
	transform: rotate(225deg) translate(0, -50%)
}

.badge {
	padding: 4px 8px;
	text-transform: uppercase;
	line-height: 12px;
	border: 1px solid;
	font-weight: 400
}

.badge-icon {
	padding: 0.4em 0.55em
}

.badge-icon i {
	font-size: 0.8em
}

.badge-default {
	background: transparent;
	border-color: #9A9A9A;
	color: #9A9A9A
}

.badge-primary {
	background: transparent;
	border-color: #01b2c6;
	color: #01b2c6
}

.badge-info {
	background: transparent;
	border-color: #3C89DA;
	color: #3C89DA
}

.badge-success {
	background: transparent;
	border-color: #22af46;
	color: #22af46
}

.badge-warning {
	background: transparent;
	border-color: #f3ad06;
	color: #f3ad06
}

.badge-danger {
	background: transparent;
	border-color: #de4848;
	color: #de4848
}

#wrapper:before,
#wrapper:after {
	height: 100vh;
	width: 5px;
	position: fixed;
	content: '';
	z-index: 999;
	top: 0
}

#wrapper:before {
	left: 0
}

#wrapper:after {
	right: 0
}

@media screen and (max-width: 992px) {
	#wrapper:before,
	#wrapper:after {
		width: 2px
	}
}

#main-content {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	width: calc(100% - 250px);
	float: right;
	position: relative;
	margin-top: 65px;
	padding: 0 10px
}

@media screen and (max-width: 1200px) {
	#main-content {
		width: 100%;
		padding: 0
	}
}

html.fullscreen-bg,
html.fullscreen-bg body,
html.fullscreen-bg #wrapper {
	height: 100%
}

.vertical-align-wrap {
	position: absolute;
	width: 100%;
	height: 100%;
	display: table
}

.vertical-align-middle {
	display: table-cell;
	vertical-align: middle
}

.card {
	border-radius: .55rem;
	background: #fff;
	transition: .5s;
	border: 0;
	margin-bottom: 30px;
	position: relative;
	width: 100%;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1)
}

.card .header {
	color: #444;
	padding: 20px;
	position: relative;
	box-shadow: none
}

.card .header .header-dropdown {
	position: absolute;
	top: 14px;
	right: 15px;
	list-style: none
}

.card .header .header-dropdown .tab_btn {
	-webkit-border-radius: 32px;
	-moz-border-radius: 32px;
	border-radius: 32px;
	font-size: 12px;
	font-weight: 700;
	background: #eee;
	color: #777;
	width: 32px;
	height: 32px;
	line-height: 32px
}

.card .header .header-dropdown .tab_btn.active,
.card .header .header-dropdown .tab_btn:hover {
	background: #01b2c6;
	color: #fff
}

.card .header .header-dropdown .dropdown-toggle:after {
	content: "\f142";
	font-family: 'FontAwesome';
	border: 0;
	vertical-align: middle;
	height: auto;
	width: auto
}

.card .header .header-dropdown li a {
	padding: 5px 10px
}

.card .header .header-dropdown li .dropdown-menu {
	border-radius: .55rem;
	background: #17191c;
	overflow: hidden;
	transform: none !important;
	left: auto !important;
	right: 0;
	padding: 10px;
	box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
	border: 0
}

.card .header .header-dropdown li .dropdown-menu li {
	display: block !important
}

.card .header .header-dropdown li .dropdown-menu li a {
	color: #999;
	font-size: 14px;
	padding: 10px;
	white-space: nowrap
}

.card .header .header-dropdown li .dropdown-menu li a:hover {
	color: #fff
}

.card .header .header-dropdown i {
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	font-size: 20px;
	color: #999
}

.card .header h2 {
	font-size: 16px;
	color: #444;
	position: relative
}

.card .header h2 small {
	font-size: 13px;
	color: #999;
	line-height: 15px
}

.card .header h2 small a {
	font-weight: 700;
	color: #777
}

.card .p-15 {
	padding: 15px !important
}

.card.bg-dark .header h2 {
	color: #eee
}

.card .body {
	color: #444;
	padding: 20px;
	font-weight: 400
}

.navbar-fixed-top {
	position: fixed;
	top: 5px;
	left: 0;
	width: 100%;
	background: #fff;
	z-index: 99;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1)
}

@media screen and (max-width: 992px) {
	.navbar-fixed-top {
		top: 2px
	}
}

.navbar-fixed-top .navbar-btn {
	display: none;
	float: left
}

.navbar-fixed-top .navbar-btn button {
	font-size: 20px;
	line-height: .7;
	border: none;
	background: none;
	outline: none
}

@media screen and (max-width: 640px) {
	.navbar-fixed-top .navbar-btn {
		margin-left: 0
	}
}

@media screen and (max-width: 1200px) {
	.navbar-fixed-top .navbar-btn {
		display: block
	}
}

.navbar-fixed-top .navbar-brand {
	padding: 15px 0;
	position: relative
}

@media screen and (max-width: 992px) {
	.navbar-fixed-top .navbar-brand {
		padding: 15px
	}
}

.navbar-fixed-top .navbar-brand img {
	width: 120px;
	vertical-align: top;
}

.navbar-fixed-top .navbar-right {
	width: calc(100% - 250px)
}

@media screen and (max-width: 1024px) {
	.navbar-fixed-top .navbar-right {
		width: calc(100% - 150px)
	}
}

@media screen and (max-width: 768px) {
	.navbar-fixed-top .navbar-right {
		width: calc(100% - 160px)
	}
}

.navbar-fixed-top .navbar-right #navbar-search {
	float: left;
	margin-top: 6px
}

.navbar-fixed-top .navbar-right #navbar-search .form-control {
	height: 40px
}

.navbar-fixed-top .navbar-right #navbar-search i {
	font-size: 12px
}

@media screen and (max-width: 767px) {
	.navbar-fixed-top .navbar-right #navbar-search {
		display: none
	}
}

.navbar-nav .icon-menu {
	display: inline-block;
	vertical-align: middle;
	*vertical-align: auto;
	*zoom: 1;
	*display: inline;
	padding: 15px;
	position: relative
}

.navbar-nav .icon-menu i {
	font-size: 18px;
	color: #666
}

.navbar-nav .icon-menu::after {
	display: none
}

.navbar-nav .icon-menu .notification-dot {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	width: 8px;
	height: 8px;
	position: absolute;
	top: 12px;
	right: 7px;
	background-color: #17191c
}

.navbar-nav .dropdown-menu {
	-moz-box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.2);
	background: #fff;
	top: 80%;
	position: absolute;
	right: 0;
	left: auto;
	border: 1px solid #fff;
	padding: 20px
}

.navbar-nav ul.notifications {
	background: #17191c;
	width: 500px
}

@media screen and (max-width: 768px) {
	.navbar-nav ul.notifications {
		width: calc(100% - 20px);
		margin: 0 10px
	}
}

.navbar-nav ul.notifications li {
	border-bottom: 1px solid #1f2125
}

.navbar-nav ul.notifications li.header {
	color: #999
}

.navbar-nav ul.notifications li.footer a {
	color: #5c8ed4
}

.navbar-nav ul.notifications li.footer a:hover,
.navbar-nav ul.notifications li.footer a:focus {
	background: transparent
}

.navbar-nav ul.notifications li:last-child {
	border-bottom: none
}

.navbar-nav ul.notifications li i {
	font-size: 24px
}

.navbar-nav ul.notifications li>a {
	padding: 15px 0;
	color: #777
}

.navbar-nav ul.notifications li>a:hover,
.navbar-nav ul.notifications li>a:focus {
	background-color: rgba(255, 255, 255, 0.03)
}

.navbar-nav ul.notifications li .text {
	white-space: nowrap;
	width: 88%;
	text-overflow: ellipsis;
	overflow: hidden
}

.navbar-nav ul.notifications li .timestamp {
	font-size: 13px;
	color: #666
}

.navbar-nav ul.user-menu {
	width: 250px
}

@media screen and (max-width: 768px) {
	.navbar-nav ul.user-menu {
		right: 20px
	}
}

.navbar-nav ul.user-menu>li.menu-heading {
	padding: 25px 20px 5px 0px;
	font-weight: 700
}

.navbar-nav ul.user-menu>li>a:hover,
.navbar-nav ul.user-menu>li>a:focus {
	background: none
}

.navbar-nav ul.user-menu.menu-icon {
	color: #fff
}

.navbar-nav ul.user-menu.menu-icon>li>a {
	color: #fff
}

@media screen and (max-width: 767px) {
	.navbar-nav {
		margin-right: 0
	}
	.navbar-nav>li {
		display: table-cell;
		position: inherit;
		text-align: center
	}
	.navbar-nav .dropdown-menu {
		max-height: 400px;
		overflow: auto
	}
	.navbar-nav .dropdown-menu>li>a {
		white-space: normal
	}
	.navbar-nav .open .dropdown-menu {
		-moz-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.05);
		-webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.05);
		box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.05);
		position: absolute;
		width: 100%;
		background: #fff
	}
	.navbar-nav .open .dropdown-menu>li>a {
		padding: 3px 20px
	}
	.navbar-nav .open .dropdown-menu.notifications>li>a {
		padding: 12px 15px
	}
}

@media screen and (max-width: 768px) {
	.navbar>.container .navbar-brand,
	.navbar>.container-fluid .navbar-brand {
		margin-left: 0
	}
}

#navbar-menu {
	float: right
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
	background-color: #f4f7f6;
	color: #5A5A5A
}

.nav-tabs>li>a {
	color: inherit;
	font-weight: 600
}

.nav-tabs>li>a:hover,
.nav-tabs>li>a:focus {
	background-color: #f5f5f5
}

.tab-content {
	padding: 15px
}

.nav-tabs-colored>li.active>a,
.nav-tabs-colored>li.active>a:hover,
.nav-tabs-colored>li.active>a:focus {
	background-color: #f5f5f5;
	color: #5A5A5A
}

.tab-content-colored {
	background-color: #f5f5f5
}

.nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus {
	border-color: #ddd
}

.dropdown-menu>li>a,
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
	color: #5A5A5A
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus {
	background-color: #5c8ed4
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
	background-color: #efefef;
	color: #5A5A5A
}

.nav-pills>li>a {
	color: inherit
}

.btn-toggle-fullwidth {
	z-index: 99;
	margin-top: -6px;
	padding-left: 0 !important
}

.btn-toggle-fullwidth i {
	margin: 0 !important
}

@media screen and (max-width: 1024px) {
	.btn-toggle-fullwidth {
		display: none
	}
}

.nav-tabs-new>li>a {
	color: #777;
	border: 1px solid #eee;
	border-radius: 30px;
	padding: 7px 23px;
	background-color: transparent
}

.nav-tabs-new>li>a:hover,
.nav-tabs-new>li>a:focus {
	background-color: #01b2c6;
	color: #fff
}

.nav-tabs-new>li>a.active {
	border: 1px solid #01b2c6 !important;
	background: #01b2c6;
	color: #fff
}

.nav-tabs-new2 {
	border-bottom: 1px solid #eee
}

.nav-tabs-new2>li>a {
	color: #777;
	padding: 7px 20px;
	background-color: transparent;
	border-bottom: transparent;
	font-size: 15px
}

.nav-tabs-new2>li>a:hover,
.nav-tabs-new2>li>a:focus {
	color: #01b2c6;
	border-bottom: 2px solid #01b2c6 !important
}

.nav-tabs-new2>li>a.active {
	border-bottom: 2px solid #01b2c6 !important;
	background-color: transparent;
	color: #01b2c6
}

.dropdown-lg .dropdown-menu {
	top: 40px !important;
	right: 0 !important;
	width: 350px;
	left: auto !important;
	transform: inherit !important;
	padding: 20px;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175)
}

#left-sidebar {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	width: 250px;
	background-color: #f4f7f6;
	height: 100%;
	float: left;
	margin-top: 65px;
	position: fixed;
	left: 5px;
	z-index: 9
}

@media screen and (max-width: 1200px) {
	#left-sidebar {
		-moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
		-webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
		box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
		left: -250px
	}
}

@media screen and (max-width: 992px) {
	#left-sidebar {
		margin-top: 60px
	}
}

#left-sidebar .nav-tabs .nav-link.active {
	background-color: transparent;
	border-color: #dee2e6 #dee2e6 #f4f7f6
}

.layout-fullwidth #wrapper #left-sidebar {
	left: -250px
}

.layout-fullwidth #wrapper #left-sidebar.ps {
	overflow: visible !important
}

.layout-fullwidth #wrapper #main-content {
	width: 100%
}

.offcanvas-active #left-sidebar {
	left: 5px
}

@media screen and (max-width: 992px) {
	.offcanvas-active #left-sidebar {
		left: 2px
	}
}

.user-account {
	margin: 20px
}

.user-account .user-photo {
	width: 50px;
	vertical-align: top;
	border: 2px solid #dfdede
}

.user-account .user-name {
	color: inherit
}

.user-account .user-name:hover,
.user-account .user-name:focus {
	text-decoration: none
}

.user-account .dropdown .dropdown-menu {
	border-radius: .55rem;
	transform: none !important;
	border: none;
	box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
	padding: 15px;
	background: #17191c
}

.user-account .dropdown .dropdown-menu li.divider {
	border-bottom: 1px solid #444;
	margin: 10px 0
}

.user-account .dropdown .dropdown-menu a {
	font-size: 14px;
	color: #999;
	padding: 10px
}

.user-account .dropdown .dropdown-menu a:hover {
	color: #fff
}

.user-account .dropdown .dropdown-menu a:hover i {
	color: #fff
}

.user-account .dropdown .dropdown-menu a i {
	font-size: 14px
}

.sidebar-nav ul {
	list-style: none
}

.sidebar-nav .metismenu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column
}

.sidebar-nav .metismenu>li {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 0%;
	flex: 1 1 0%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	position: relative
}

.sidebar-nav .metismenu>li a {
	border-left: 5px solid transparent
}

.sidebar-nav .metismenu>li.active>a {
	background-color: #f1f1f1
}

.sidebar-nav .metismenu>li .active a {
	font-weight: 700
}

.sidebar-nav .metismenu>li i {
	position: relative;
	top: 2px;
	font-size: 16px
}

.sidebar-nav .metismenu a {
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	color: #17191c;
	font-size: 15px;
	position: relative;
	padding: 13px 15px;
	outline-width: 0
}

.sidebar-nav .metismenu ul a {
	color: #777;
	font-size: 14px;
	padding: 10px 15px 10px 57px;
	position: relative
}

.sidebar-nav .metismenu ul ul a {
	padding: 10px 15px 10px 70px
}

.sidebar-nav .metismenu ul.collapse a:hover,
.sidebar-nav .metismenu ul.collapse a:focus {
	text-decoration: none
}

.sidebar-nav .metismenu a:hover,
.sidebar-nav .metismenu a:focus,
.sidebar-nav .metismenu a:active {
	text-decoration: none;
	background: #f1f1f1
}

.sidebar-nav .metismenu .has-arrow::after {
	color: #b5b5b5
}

ul.choose-skin li:hover {
	cursor: pointer
}

ul.choose-skin li div {
	-webkit-border-radius: 22px;
	-moz-border-radius: 22px;
	border-radius: 22px;
	float: right;
	height: 22px;
	width: 40px;
	position: relative
}

ul.choose-skin li div.purple {
	background: #a27ce6
}

ul.choose-skin li div.blue {
	background: #0078ff
}

ul.choose-skin li div.cyan {
	background: #2eacb3
}

ul.choose-skin li div.green {
	background: #28a745
}

ul.choose-skin li div.orange {
	background: #ff613c
}

ul.choose-skin li div.blush {
	background: #e84f5e
}

ul.choose-skin li.active div::before {
	color: #fff;
	font-size: 12px;
	position: absolute;
	top: 2px;
	left: 15px;
	content: '\f00c';
	font-family: 'FontAwesome'
}

ul.choose-skin li span {
	line-height: 22px;
	vertical-align: top
}

label {
	font-weight: 600
}

.search-form {
	position: relative
}

.search-form .btn {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	position: absolute;
	top: 10px;
	right: 15px;
	border: none;
	color: #999;
	background-color: transparent
}

.search-form .btn:hover,
.search-form .btn:focus {
	background-color: inherit;
	border-left: none;
	border-color: inherit
}

.block-header h2 {
	font-size: 20px
}

.block-header .breadcrumb {
	background: transparent
}

#toast-container>div {
	opacity: 1;
	filter: alpha(opacity=100)
}

#toast-container>div,
#toast-container>div:hover {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none
}

.text-primary {
	color: #5c8ed4
}

.text-info {
	color: #3C89DA
}

.text-success {
	color: #22af46
}

.text-warning {
	color: #f3ad06
}

.text-danger {
	color: #de4848
}

.text-muted {
	color: #9A9A9A
}

.text-larger {
	font-size: 1.2em
}

.text-large {
	font-size: 1.53em
}

.bg-success {
	background-color: #22af46
}

.bg-warning {
	background-color: #f3ad06
}

.bg-danger {
	background-color: #de4848
}

.bg-info {
	background-color: #3C89DA
}

.m-l--125 {
	margin-left: -125px
}

.m-t--125 {
	margin-top: -125px
}

.m-r--125 {
	margin-right: -125px
}

.m-b--125 {
	margin-bottom: -125px
}

.m-l--120 {
	margin-left: -120px
}

.m-t--120 {
	margin-top: -120px
}

.m-r--120 {
	margin-right: -120px
}

.m-b--120 {
	margin-bottom: -120px
}

.m-l--115 {
	margin-left: -115px
}

.m-t--115 {
	margin-top: -115px
}

.m-r--115 {
	margin-right: -115px
}

.m-b--115 {
	margin-bottom: -115px
}

.m-l--110 {
	margin-left: -110px
}

.m-t--110 {
	margin-top: -110px
}

.m-r--110 {
	margin-right: -110px
}

.m-b--110 {
	margin-bottom: -110px
}

.m-l--105 {
	margin-left: -105px
}

.m-t--105 {
	margin-top: -105px
}

.m-r--105 {
	margin-right: -105px
}

.m-b--105 {
	margin-bottom: -105px
}

.m-l--100 {
	margin-left: -100px
}

.m-t--100 {
	margin-top: -100px
}

.m-r--100 {
	margin-right: -100px
}

.m-b--100 {
	margin-bottom: -100px
}

.m-l--95 {
	margin-left: -95px
}

.m-t--95 {
	margin-top: -95px
}

.m-r--95 {
	margin-right: -95px
}

.m-b--95 {
	margin-bottom: -95px
}

.m-l--90 {
	margin-left: -90px
}

.m-t--90 {
	margin-top: -90px
}

.m-r--90 {
	margin-right: -90px
}

.m-b--90 {
	margin-bottom: -90px
}

.m-l--85 {
	margin-left: -85px
}

.m-t--85 {
	margin-top: -85px
}

.m-r--85 {
	margin-right: -85px
}

.m-b--85 {
	margin-bottom: -85px
}

.m-l--80 {
	margin-left: -80px
}

.m-t--80 {
	margin-top: -80px
}

.m-r--80 {
	margin-right: -80px
}

.m-b--80 {
	margin-bottom: -80px
}

.m-l--75 {
	margin-left: -75px
}

.m-t--75 {
	margin-top: -75px
}

.m-r--75 {
	margin-right: -75px
}

.m-b--75 {
	margin-bottom: -75px
}

.m-l--70 {
	margin-left: -70px
}

.m-t--70 {
	margin-top: -70px
}

.m-r--70 {
	margin-right: -70px
}

.m-b--70 {
	margin-bottom: -70px
}

.m-l--65 {
	margin-left: -65px
}

.m-t--65 {
	margin-top: -65px
}

.m-r--65 {
	margin-right: -65px
}

.m-b--65 {
	margin-bottom: -65px
}

.m-l--60 {
	margin-left: -60px
}

.m-t--60 {
	margin-top: -60px
}

.m-r--60 {
	margin-right: -60px
}

.m-b--60 {
	margin-bottom: -60px
}

.m-l--55 {
	margin-left: -55px
}

.m-t--55 {
	margin-top: -55px
}

.m-r--55 {
	margin-right: -55px
}

.m-b--55 {
	margin-bottom: -55px
}

.m-l--50 {
	margin-left: -50px
}

.m-t--50 {
	margin-top: -50px
}

.m-r--50 {
	margin-right: -50px
}

.m-b--50 {
	margin-bottom: -50px
}

.m-l--45 {
	margin-left: -45px
}

.m-t--45 {
	margin-top: -45px
}

.m-r--45 {
	margin-right: -45px
}

.m-b--45 {
	margin-bottom: -45px
}

.m-l--40 {
	margin-left: -40px
}

.m-t--40 {
	margin-top: -40px
}

.m-r--40 {
	margin-right: -40px
}

.m-b--40 {
	margin-bottom: -40px
}

.m-l--35 {
	margin-left: -35px
}

.m-t--35 {
	margin-top: -35px
}

.m-r--35 {
	margin-right: -35px
}

.m-b--35 {
	margin-bottom: -35px
}

.m-l--30 {
	margin-left: -30px
}

.m-t--30 {
	margin-top: -30px
}

.m-r--30 {
	margin-right: -30px
}

.m-b--30 {
	margin-bottom: -30px
}

.m-l--25 {
	margin-left: -25px
}

.m-t--25 {
	margin-top: -25px
}

.m-r--25 {
	margin-right: -25px
}

.m-b--25 {
	margin-bottom: -25px
}

.m-l--20 {
	margin-left: -20px
}

.m-t--20 {
	margin-top: -20px
}

.m-r--20 {
	margin-right: -20px
}

.m-b--20 {
	margin-bottom: -20px
}

.m-l--15 {
	margin-left: -15px
}

.m-t--15 {
	margin-top: -15px
}

.m-r--15 {
	margin-right: -15px
}

.m-b--15 {
	margin-bottom: -15px
}

.m-l--10 {
	margin-left: -10px
}

.m-t--10 {
	margin-top: -10px
}

.m-r--10 {
	margin-right: -10px
}

.m-b--10 {
	margin-bottom: -10px
}

.m-l--5 {
	margin-left: -5px
}

.m-t--5 {
	margin-top: -5px
}

.m-r--5 {
	margin-right: -5px
}

.m-b--5 {
	margin-bottom: -5px
}

.m-l-0 {
	margin-left: 0px
}

.m-t-0,
.tabcontrol>.steps>ul>li.current,
.weather2 .days-list .day h5,
.weather .city,
.weather .city h3,
.billing-history .billing-title,
.page-calendar .event-name h4 {
	margin-top: 0px
}

.m-r-0,
.c_list .c_name,
.c_list address,
.c_list .fancy-checkbox {
	margin-right: 0px
}

.m-b-0,
.card .header,
.navbar-nav ul.notifications li>a .media,
.navbar-nav ul.notifications li .text,
.user-account h6 {
	margin-bottom: 0px
}

.m-l-5,
.btn-toolbar>.btn-group,
.badge,
.wizard>.actions a,
.pricing3 .pricing-option .price b {
	margin-left: 5px
}

.m-t-5,
.card .header h2 small,
.user-account .dropdown,
.auth-box .lead,
.wizard>.actions,
.setting-list li,
.team-info,
.page-calendar .event-name address {
	margin-top: 5px
}

.m-r-5,
.badge,
.nav-tabs-new>li>a,
.nav-tabs-new2>li>a,
.new_timeline .bullet,
.b4gallery .nav-item,
.page-calendar .event-name address i {
	margin-right: 5px
}

.m-b-5,
.auth-box .btn-signin-social,
.weather .days li img,
.plan .list-plan-details li,
.billing-history .billing-title {
	margin-bottom: 5px
}

.m-l-10,
.navbar-nav ul.user-menu.menu-icon>li>a span,
.c_list .c_name,
.plan .plan-title span i {
	margin-left: 10px
}

.m-t-10,
.page-loader-wrapper p,
.weather3 .top .wrapper .temp .deg,
.member-card .social-links {
	margin-top: 10px
}

.m-r-10,
.user-account .user-photo,
.user-account .dropdown .dropdown-menu a i,
.list-referrals .value,
.top_counter .icon,
.right_chat .media .media-object,
.testimonial4 .carousel-info img {
	margin-right: 10px
}

.m-b-10,
ul.choose-skin li,
.weather4 i,
ul.list-email-received>li,
.timeline-item .date,
.pricing3 .pricing-option .price {
	margin-bottom: 10px
}

.m-l-15 {
	margin-left: 15px
}

.m-t-15,
.question li.menu-heading,
.social-links {
	margin-top: 15px
}

.m-r-15,
.navbar-nav,
.new_timeline .header .color-overlay .day-number,
.connected-app .connection-info .actions a {
	margin-right: 15px
}

.m-b-15,
.w_social3 .card .fa,
.chat .chat-history .message-data,
.page-calendar .event-name {
	margin-bottom: 15px
}

.m-l-20,
.block-header .bh_chart,
.media.mright .media-right,
.chat-widget li.left .chat-info,
.invoice1 .info {
	margin-left: 20px
}

.m-t-20,
.auth-box .form-auth-small .btn,
.auth-box .form-auth-small .bottom,
.block-header,
.stats-report,
.weather3 .top .wrapper .heading,
.weather3 .top .wrapper .location,
.testimonial2 .testimonial-desc,
.pricing3 .pricing-option .price {
	margin-top: 20px
}

.m-r-20,
.navbar-fixed-top .navbar-right #navbar-search,
.navbar-nav ul.notifications li>a .media .media-left,
.sidebar-nav .metismenu>li i,
.block-header .bh_chart,
.ct-legend li,
.media.mleft .media-left,
.bs-example .media .media-left,
.chat-widget li.right .chat-info {
	margin-right: 20px
}

.m-b-20,
.block-header,
.chart.easy-pie-chart-1,
.media,
.chat-widget li,
.weather .city,
.plan .list-plan-details,
.profilepage_2 .profile-header .profile-image {
	margin-bottom: 20px
}

.m-l-25 {
	margin-left: 25px
}

.m-t-25 {
	margin-top: 25px
}

.m-r-25 {
	margin-right: 25px
}

.m-b-25,
.pricing2 .pricing-plan .pricing-img {
	margin-bottom: 25px
}

.m-l-30 {
	margin-left: 30px
}

.m-t-30 {
	margin-top: 30px
}

.m-r-30,
.client-detail .profile-image {
	margin-right: 30px
}

.m-b-30,
.auth-box .top,
.testimonial2,
.testimonial3,
.testimonial4,
.profilepage_1 .profile-heading,
.plan,
.chat .chat-history ul li {
	margin-bottom: 30px
}

.m-l-35 {
	margin-left: 35px
}

.m-t-35 {
	margin-top: 35px
}

.m-r-35 {
	margin-right: 35px
}

.m-b-35 {
	margin-bottom: 35px
}

.m-l-40 {
	margin-left: 40px
}

.m-t-40 {
	margin-top: 40px
}

.m-r-40 {
	margin-right: 40px
}

.m-b-40 {
	margin-bottom: 40px
}

.m-l-45 {
	margin-left: 45px
}

.m-t-45 {
	margin-top: 45px
}

.m-r-45 {
	margin-right: 45px
}

.m-b-45 {
	margin-bottom: 45px
}

.m-l-50 {
	margin-left: 50px
}

.m-t-50 {
	margin-top: 50px
}

.m-r-50 {
	margin-right: 50px
}

.m-b-50 {
	margin-bottom: 50px
}

.m-l-55 {
	margin-left: 55px
}

.m-t-55 {
	margin-top: 55px
}

.m-r-55 {
	margin-right: 55px
}

.m-b-55 {
	margin-bottom: 55px
}

.m-l-60 {
	margin-left: 60px
}

.m-t-60 {
	margin-top: 60px
}

.m-r-60 {
	margin-right: 60px
}

.m-b-60 {
	margin-bottom: 60px
}

.m-l-65 {
	margin-left: 65px
}

.m-t-65 {
	margin-top: 65px
}

.m-r-65 {
	margin-right: 65px
}

.m-b-65 {
	margin-bottom: 65px
}

.m-l-70 {
	margin-left: 70px
}

.m-t-70 {
	margin-top: 70px
}

.m-r-70 {
	margin-right: 70px
}

.m-b-70 {
	margin-bottom: 70px
}

.m-l-75 {
	margin-left: 75px
}

.m-t-75 {
	margin-top: 75px
}

.m-r-75 {
	margin-right: 75px
}

.m-b-75 {
	margin-bottom: 75px
}

.m-l-80 {
	margin-left: 80px
}

.m-t-80 {
	margin-top: 80px
}

.m-r-80 {
	margin-right: 80px
}

.m-b-80 {
	margin-bottom: 80px
}

.m-l-85 {
	margin-left: 85px
}

.m-t-85 {
	margin-top: 85px
}

.m-r-85 {
	margin-right: 85px
}

.m-b-85 {
	margin-bottom: 85px
}

.m-l-90 {
	margin-left: 90px
}

.m-t-90 {
	margin-top: 90px
}

.m-r-90 {
	margin-right: 90px
}

.m-b-90 {
	margin-bottom: 90px
}

.m-l-95 {
	margin-left: 95px
}

.m-t-95 {
	margin-top: 95px
}

.m-r-95 {
	margin-right: 95px
}

.m-b-95 {
	margin-bottom: 95px
}

.m-l-100 {
	margin-left: 100px
}

.m-t-100 {
	margin-top: 100px
}

.m-r-100 {
	margin-right: 100px
}

.m-b-100 {
	margin-bottom: 100px
}

.m-l-105 {
	margin-left: 105px
}

.m-t-105 {
	margin-top: 105px
}

.m-r-105 {
	margin-right: 105px
}

.m-b-105 {
	margin-bottom: 105px
}

.m-l-110 {
	margin-left: 110px
}

.m-t-110 {
	margin-top: 110px
}

.m-r-110 {
	margin-right: 110px
}

.m-b-110 {
	margin-bottom: 110px
}

.m-l-115 {
	margin-left: 115px
}

.m-t-115 {
	margin-top: 115px
}

.m-r-115 {
	margin-right: 115px
}

.m-b-115 {
	margin-bottom: 115px
}

.m-l-120 {
	margin-left: 120px
}

.m-t-120 {
	margin-top: 120px
}

.m-r-120 {
	margin-right: 120px
}

.m-b-120 {
	margin-bottom: 120px
}

.m-l-125 {
	margin-left: 125px
}

.m-t-125 {
	margin-top: 125px
}

.m-r-125 {
	margin-right: 125px
}

.m-b-125 {
	margin-bottom: 125px
}

.margin-0,
.card .header .header-dropdown,
.card .header h2,
.navbar-nav,
.nav-tabs-new>li>a,
.sidebar-nav ul,
.block-header h2,
.block-header .breadcrumb,
.media .media-body .media-heading,
.wizard ul,
.tabcontrol ul,
.tabcontrol>.steps>ul>li>a,
.project_widget .pw_content .pw_header h6,
.stats-report .stat-item h5,
.new_timeline>ul,
.new_timeline h3,
.new_timeline h4,
.c_list tr td .btn,
.taskboard .dd-handle p,
.project_report h6,
.project_report .team-info,
.feeds_widget li .feeds-body .title,
.weather2 .city-selected .temp h2,
.weather2 .days-list,
.weather3 .bottom .forecast,
.weather4 p,
.w_social2 .pw_content .pw_header h6,
.w_user .wid-u-info h5,
.timeline-item h5,
.fc-overlay.right,
.fc .fc-toolbar,
.fc .fc-toolbar h2,
.event-name p {
	margin: 0 !important
}

.p-l-0,
.navbar-fixed-top .navbar-btn button,
.pricing,
.invoice .nav-tabs {
	padding-left: 0px
}

.p-t-0,
.navbar-nav ul.user-menu>li:first-child,
.basic-list li:first-child {
	padding-top: 0px
}

.p-r-0,
.invoice .nav-tabs {
	padding-right: 0px
}

.p-b-0,
.navbar-nav ul.notifications li.footer a,
.number-chart .body,
.basic-list li:last-child {
	padding-bottom: 0px
}

.p-l-5 {
	padding-left: 5px
}

.p-t-5,
.navbar-nav ul.user-menu.menu-icon>li>a,
.fc .fc-toolbar h2 {
	padding-top: 5px
}

.p-r-5,
.wizard.vertical>.steps {
	padding-right: 5px
}

.p-b-5,
.navbar-nav ul.user-menu.menu-icon>li>a,
.sidebar-nav .metismenu>li {
	padding-bottom: 5px
}

.p-l-10,
.chat .chat-header .chat-about {
	padding-left: 10px
}

.p-t-10,
.testimonial2 .testimonial-desc .testimonial-writer,
.fc .fc-toolbar {
	padding-top: 10px
}

.p-r-10 {
	padding-right: 10px
}

.p-b-10,
.fc .fc-toolbar {
	padding-bottom: 10px
}

.p-l-15,
.question li a,
.testimonial2 .testimonial-desc {
	padding-left: 15px
}

.p-t-15,
.basic-list li {
	padding-top: 15px
}

.p-r-15,
.stats-report .stat-item {
	padding-right: 15px
}

.p-b-15,
.basic-list li,
.new_timeline li {
	padding-bottom: 15px
}

.p-l-20,
.navbar-fixed-top .navbar-right #navbar-search .form-control {
	padding-left: 20px
}

.p-t-20,
.navbar-nav ul.notifications li.footer a,
.navbar-nav ul.user-menu .menu-button,
.tabcontrol>.content,
.weather3 .bottom .forecast,
.weather5 .weatherIcon i {
	padding-top: 20px
}

.p-r-20 {
	padding-right: 20px
}

.p-b-20,
.navbar-nav ul.notifications li.header {
	padding-bottom: 20px
}

.p-l-25 {
	padding-left: 25px
}

.p-t-25 {
	padding-top: 25px
}

.p-r-25 {
	padding-right: 25px
}

.p-b-25 {
	padding-bottom: 25px
}

.p-l-30 {
	padding-left: 30px
}

.p-t-30 {
	padding-top: 30px
}

.p-r-30 {
	padding-right: 30px
}

.p-b-30 {
	padding-bottom: 30px
}

.p-l-35 {
	padding-left: 35px
}

.p-t-35 {
	padding-top: 35px
}

.p-r-35 {
	padding-right: 35px
}

.p-b-35 {
	padding-bottom: 35px
}

.p-l-40 {
	padding-left: 40px
}

.p-t-40 {
	padding-top: 40px
}

.p-r-40 {
	padding-right: 40px
}

.p-b-40 {
	padding-bottom: 40px
}

.p-l-45 {
	padding-left: 45px
}

.p-t-45 {
	padding-top: 45px
}

.p-r-45 {
	padding-right: 45px
}

.p-b-45 {
	padding-bottom: 45px
}

.p-l-50 {
	padding-left: 50px
}

.p-t-50 {
	padding-top: 50px
}

.p-r-50 {
	padding-right: 50px
}

.p-b-50 {
	padding-bottom: 50px
}

.p-l-55 {
	padding-left: 55px
}

.p-t-55 {
	padding-top: 55px
}

.p-r-55 {
	padding-right: 55px
}

.p-b-55 {
	padding-bottom: 55px
}

.p-l-60 {
	padding-left: 60px
}

.p-t-60 {
	padding-top: 60px
}

.p-r-60 {
	padding-right: 60px
}

.p-b-60 {
	padding-bottom: 60px
}

.p-l-65 {
	padding-left: 65px
}

.p-t-65 {
	padding-top: 65px
}

.p-r-65 {
	padding-right: 65px
}

.p-b-65 {
	padding-bottom: 65px
}

.p-l-70 {
	padding-left: 70px
}

.p-t-70 {
	padding-top: 70px
}

.p-r-70 {
	padding-right: 70px
}

.p-b-70 {
	padding-bottom: 70px
}

.p-l-75 {
	padding-left: 75px
}

.p-t-75 {
	padding-top: 75px
}

.p-r-75 {
	padding-right: 75px
}

.p-b-75 {
	padding-bottom: 75px
}

.p-l-80 {
	padding-left: 80px
}

.p-t-80 {
	padding-top: 80px
}

.p-r-80 {
	padding-right: 80px
}

.p-b-80 {
	padding-bottom: 80px
}

.p-l-85 {
	padding-left: 85px
}

.p-t-85 {
	padding-top: 85px
}

.p-r-85 {
	padding-right: 85px
}

.p-b-85 {
	padding-bottom: 85px
}

.p-l-90 {
	padding-left: 90px
}

.p-t-90 {
	padding-top: 90px
}

.p-r-90 {
	padding-right: 90px
}

.p-b-90 {
	padding-bottom: 90px
}

.p-l-95 {
	padding-left: 95px
}

.p-t-95 {
	padding-top: 95px
}

.p-r-95 {
	padding-right: 95px
}

.p-b-95 {
	padding-bottom: 95px
}

.p-l-100 {
	padding-left: 100px
}

.p-t-100 {
	padding-top: 100px
}

.p-r-100 {
	padding-right: 100px
}

.p-b-100 {
	padding-bottom: 100px
}

.p-l-105 {
	padding-left: 105px
}

.p-t-105 {
	padding-top: 105px
}

.p-r-105 {
	padding-right: 105px
}

.p-b-105 {
	padding-bottom: 105px
}

.p-l-110 {
	padding-left: 110px
}

.p-t-110 {
	padding-top: 110px
}

.p-r-110 {
	padding-right: 110px
}

.p-b-110 {
	padding-bottom: 110px
}

.p-l-115 {
	padding-left: 115px
}

.p-t-115 {
	padding-top: 115px
}

.p-r-115 {
	padding-right: 115px
}

.p-b-115 {
	padding-bottom: 115px
}

.p-l-120 {
	padding-left: 120px
}

.p-t-120 {
	padding-top: 120px
}

.p-r-120 {
	padding-right: 120px
}

.p-b-120 {
	padding-bottom: 120px
}

.p-l-125 {
	padding-left: 125px
}

.p-t-125 {
	padding-top: 125px
}

.p-r-125 {
	padding-right: 125px
}

.p-b-125 {
	padding-bottom: 125px
}

.padding-0,
.card .header .header-dropdown,
.card .header .header-dropdown .tab_btn,
.navbar-fixed-top,
.navbar-fixed-top .navbar-btn,
.sidebar-nav ul,
.search-form,
.search-form .btn,
.block-header .breadcrumb,
.accordion .card-header,
.ct-legend,
.wizard ul,
.tabcontrol ul,
.wizard ul>li,
.tabcontrol ul>li,
.tabcontrol>.steps>ul>li:hover,
.chat-widget,
.new_timeline .header,
.right_chat .media .status,
.weather3 .bottom .forecast,
.profilepage_1 .tab-content,
.chat .chat-history ul,
.fc .fc-view-container .fc-view.fc-basic-view>table>thead tr th.fc-agenda-gutter,
.fc .fc-view-container .fc-view.fc-basic-view>table>thead tr td.fc-agenda-gutter,
.fc .fc-view-container .fc-view.fc-agenda>table>thead tr th.fc-agenda-gutter,
.fc .fc-view-container .fc-view.fc-agenda>table>thead tr td.fc-agenda-gutter,
.fc .fc-view-container .fc-view.fc-basic-view>table>thead tr td.fc-widget-header,
.fc .fc-view-container .fc-view.fc-agenda>table>thead tr td.fc-widget-header,
.pricing2 .pricing-plan .pricing-features,
.file_manager .file {
	padding: 0 !important
}

.font-6 {
	font-size: 6px
}

.font-7 {
	font-size: 7px
}

.font-8 {
	font-size: 8px
}

.font-9 {
	font-size: 9px
}

.font-10 {
	font-size: 10px
}

.font-11 {
	font-size: 11px
}

.font-12 {
	font-size: 12px
}

.font-13 {
	font-size: 13px
}

.font-14 {
	font-size: 14px
}

.font-15 {
	font-size: 15px
}

.font-16 {
	font-size: 16px
}

.font-17 {
	font-size: 17px
}

.font-18 {
	font-size: 18px
}

.font-19 {
	font-size: 19px
}

.font-20 {
	font-size: 20px
}

.font-21 {
	font-size: 21px
}

.font-22 {
	font-size: 22px
}

.font-23 {
	font-size: 23px
}

.font-24 {
	font-size: 24px
}

.font-25 {
	font-size: 25px
}

.font-26 {
	font-size: 26px
}

.font-27 {
	font-size: 27px
}

.font-28 {
	font-size: 28px
}

.font-29 {
	font-size: 29px
}

.font-30 {
	font-size: 30px
}

.font-31 {
	font-size: 31px
}

.font-32 {
	font-size: 32px
}

.font-33 {
	font-size: 33px
}

.font-34 {
	font-size: 34px
}

.font-35 {
	font-size: 35px
}

.font-36 {
	font-size: 36px
}

.font-37 {
	font-size: 37px
}

.font-38 {
	font-size: 38px
}

.font-39 {
	font-size: 39px
}

.font-40 {
	font-size: 40px
}

.font-41 {
	font-size: 41px
}

.font-42 {
	font-size: 42px
}

.font-43 {
	font-size: 43px
}

.font-44 {
	font-size: 44px
}

.font-45 {
	font-size: 45px
}

.font-46 {
	font-size: 46px
}

.font-47 {
	font-size: 47px
}

.font-48 {
	font-size: 48px
}

.font-49 {
	font-size: 49px
}

.font-50 {
	font-size: 50px
}

.align-left,
.user-account,
.user-account .dropdown,
.block-header .bh_chart,
.accordion .card-header .btn,
.attendance_list tr td:first-child,
.attendance_list tr th:first-child,
.chat-widget li.left .chat-info,
.testimonial2 .testimonial-desc {
	text-align: left
}

.align-center,
.card .header .header-dropdown .tab_btn,
.navbar-nav ul.user-menu .menu-button,
.auth-box .form-auth-small .bottom,
.metric-inline,
.separator-linethrough,
.sparkline,
.chart.easy-pie-chart-1,
.chart.easy-pie-chart-1>span>img,
.attendance_list tr td,
.attendance_list tr th,
.page-loader-wrapper,
.info-box-2 .chart,
.top_counter .icon,
.c_list address i,
.profile_state,
.weather2 .days-list .day,
.weather .days li,
.weather3 .top,
.weather5 .weatherInfo,
.weather5 .date,
.weather6,
.testimonials .body,
.member-card,
.w_social3 .card,
.social_icon,
.profilepage_2 .profile-header,
.pricing,
.pricing2,
.pricing3,
.file_manager .file .icon {
	text-align: center
}

.align-right,
.ct-legend,
.media.mright .media-body,
.wizard>.actions,
.chat-widget li.right,
.chat-widget li.right .chat-info,
.chat .chat-history .other-message {
	text-align: right
}

.align-justify {
	text-align: justify
}

.padding-25 {
	padding: 25px !important
}

.page-loader-wrapper {
	z-index: 99999999;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	overflow: hidden
}

.page-loader-wrapper p {
	color: #fff
}

.page-loader-wrapper .loader {
	position: relative;
	top: calc(40% - 30px)
}

.fancy-checkbox {
	margin-right: 10px
}

.fancy-checkbox,
.fancy-checkbox label {
	font-weight: normal
}

.fancy-checkbox input[type="checkbox"] {
	display: none
}

.fancy-checkbox input[type="checkbox"]+span {
	display: inline-block;
	vertical-align: middle;
	*vertical-align: auto;
	*zoom: 1;
	*display: inline;
	cursor: pointer;
	position: relative
}

.fancy-checkbox input[type="checkbox"]+span:before {
	display: inline-block;
	vertical-align: middle;
	*vertical-align: auto;
	*zoom: 1;
	*display: inline;
	position: relative;
	bottom: 1px;
	width: 24px;
	height: 24px;
	margin-right: 10px;
	content: "";
	border: 1px solid #ccc;
	border-radius: 3px
}

.fancy-checkbox input[type="checkbox"]:checked+span:before {
	font-family: FontAwesome;
	content: '\f00c';
	font-size: 10px;
	color: #fff;
	text-align: center;
	line-height: 21px
}

.fancy-checkbox.custom-color-green input[type="checkbox"]:checked+span:before {
	color: #22af46;
	background-color: #fff
}

.fancy-checkbox.custom-bgcolor-green input[type="checkbox"]:checked+span:before {
	color: #fff;
	background-color: #22af46;
	border-color: #1b8d38
}

.input-group-addon .fancy-radio,
.input-group-addon .fancy-checkbox {
	margin: 0;
	position: relative;
	top: 1px
}

.input-group-addon .fancy-radio input[type="radio"]+span i,
.input-group-addon .fancy-checkbox input[type="checkbox"]+span {
	margin: 0
}

.input-group-addon .fancy-radio input[type="radio"]+span i:before,
.input-group-addon .fancy-checkbox input[type="checkbox"]+span:before {
	margin: 0
}

.todo_list .fancy-checkbox input[type="checkbox"]:checked+span {
	text-decoration: line-through
}

.table tbody tr td,
.table tbody th td {
	vertical-align: middle;
	white-space: nowrap
}

.w_social2 .pw_img {
	position: relative;
	overflow: hidden
}

.w_social2 .pw_img:before {
	position: absolute;
	top: 0;
	left: -75%;
	z-index: 2;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
	background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg)
}

.w_social2 .pw_img:hover::before {
	-webkit-animation: shine .75s;
	animation: shine .75s
}

@-webkit-keyframes shine {
	100% {
		left: 125%
	}
}

@keyframes shine {
	100% {
		left: 125%
	}
}

.w_social2 .pw_img img {
	border-radius: 3px 3px 0 0
}

.w_social2 .pw_content .pw_header {
	padding: 20px;
	border-bottom: 1px solid #f0f0f0
}

.w_social2 .pw_content .pw_header small {
	font-size: 12px
}

.w_social2 .pw_content .pw_meta {
	padding: 20px
}

.w_social2 .pw_content .pw_meta span {
	font-weight: 500
}

.w_social3 .card {
	padding: 25px
}

.w_social3 .card .fa {
	font-size: 30px
}

.w_social3 .text {
	margin-top: 0 !important
}

.w_social3 .facebook-widget .icon i {
	color: #3b5998
}

.w_social3 .google-widget .icon i {
	color: #d34836
}

.w_social3 .twitter-widget .icon i {
	color: #0084b4
}

.w_social3 .instagram-widget .icon i {
	color: #fb3958
}

.w_social3 .linkedin-widget .icon i {
	color: #0077B5
}

.w_social3 .behance-widget .icon i {
	color: #053eff
}

.w_feed {
	border-radius: .55rem;
	color: #fff
}

.w_feed.facebook {
	background: #3b5998
}

.w_feed.twitter {
	background: #00aced
}

.w_feed.linkedin {
	background: #0066CC
}

.w_feed.google {
	background: #d34836
}

.w_feed .carousel-inner {
	box-shadow: none
}

.w_feed .carousel-inner .carousel-item {
	padding: 20px
}

.w_feed .carousel-inner h4 {
	font-weight: 300
}

.w_feed .carousel-inner h4 span {
	font-weight: 700
}

.w_followers li:hover .btn {
	opacity: 1
}

.w_followers li .btn {
	position: absolute;
	right: 0;
	top: 4px;
	opacity: 0
}